@model SWZOS.Models.Account.PasswordChangeModel

<div class="container">
    <form class="form-horizontal" id="ChangePasswordForm" asp-action="ChangePassword">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label" asp-for="CurrentPassword">Stare hasło</label>
                    <input class="form-control" type="password" asp-for="CurrentPassword" required/>    
                    <span class="text-danger" asp-validation-for="CurrentPassword"></span>               
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="NewPassword">Nowe hasło</label>
                    <input class="form-control" type="password" asp-for="NewPassword" required/>
                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="ConfirmedPassword">Potwierdź hasło:</label>
                    <input class="form-control" type="password" asp-for="ConfirmedPassword" required/>
                    <span class="text-danger" asp-validation-for="ConfirmedPassword"></span>
                </div>
            </div>
            <input id="SubmitChangePasswordForm" type="submit" value="Zapisz"/>
        </div>
    </form>
</div>